body {
	font-family: "Open Sans Condensed", sans-serif;
	background:lightblue;
}

.wrapper {
	background-color: lightblue;
	max-width: 1024px;
	width: 1024px;
	margin:0px auto;
}

img {
	width:100%;
	height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Ubuntu Condensed", sans-serif;
}

article {
	width:25%;
	background:gold;
	margin:10px 5px 10px 5px;

}

section {
	background: white;
}

.left-side-picture {
	margin-left: 10px;
}

.right-side-picture {
	margin-right: 10px;
}

.hobby {
}


 /*
	Bio Section
 */

 .bio {
 	background: url('../img/earth-from-outer-space.jpg');
 	height:700px;
 	width: auto;
 	text-align: left;
}

.bio-div {
	padding-top: 50px;
	padding-right: 100px;
}

.bio p {
	color:white;
}

.bio h1 {
	color:white;
}

/*
	Hobby Section
*/

.hobby{
	display: flex;
}

.hobby-picture-div {
	width: 30%;
}

.hobby-text-div {
	width: 70%;
}